* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html {
    font-size: 62.5%;
    overflow: hidden; /* prevent scroll bar */
    box-sizing: border-box;

}

/* main navigate bar */
header nav {
    position:fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2.5%; /* 2.5% padding on left and right */
    background-color: #333;
    color: #fff;
    font-size:2rem;
}

header nav a {
    border: #ff0000 2px solid;
    text-align: center;
    height: 80px;
    width: 120px;
    padding: 20px 20px;
    /* text-align: center; */
    /* justify-content: center; */
    background-color: antiquewhite;
}

header nav .nav-home {
    width: 200px;
    /* display: flex;
    text-align: center;
    justify-content: center;
    background-color: #7e1616;
    color: #fff;
    width: 15rem; */
}

header nav p {
    width: 50%;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
}

main {
    position: absolute;
    top : 80px;
    height: 100%;
}

main .side-menu {
    position: fixed;
    top: 80px; /* 80px is the height of the nav bar */
    left: 0;
    width: 20%;
    height: calc(100% - 80px); /*Ensure that it will fill all the page*/

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2rem;



    background-color: #333;
    color: #fff;
}

main .side-menu .side-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    text-decoration: none;
    color: #fff;
    border: #fff 1px solid;
}

.side-menu .logout {
    margin-top: 155%; /* 100% + 55% ???? */
}

/* main content */
main .content {
    position: absolute;
    left: 20vw;
    width: 60vw;
    height: calc(100% - 80px);
    overflow: hidden;
    flex-grow:1;
    display: flex;
    justify-content: center;

    border: #ff0000 2px solid;
}

main .content .post-area {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content */
    width: 100%;
    height: 100%;
    overflow: auto;
    /* padding: 2rem; */


}

main .content .post-area .post {
    display: flex;
    flex-direction: column;
    width: 59vw; /* Ensure it takes full width of .post-area */
  /* Prevent overflow */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    background: #f9f9f9; /* Light background to visualize */
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* border: #ff0000 2px solid; */

}

.post-header {
    font-size: 1rem;
    display: flex;
    padding: 1rem;
    flex-direction: row;
    /* width: 100%; */
    margin-bottom: 2rem;
}

.post-header * {
    margin-right: 10px;
}

.post-header h2 {
    font-size: 3rem;
}

.post .post-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    font-size: 1.5rem;
}